In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('test.db')

In [4]:
cursor = conn.cursor()

In [5]:
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        name TEXT NOT NULL,
        age INTEGER,
        department TEXT
    )
    """
)

In [6]:
cursor.execute(
    """
    INSERT INTO employees (name, age, department) VALUES
    ('John Doe', 30, 'IT'),
    ('Jane Doe', 25, 'HR'),
    ('Jack Doe', 35, 'Finance')
    """
)

In [7]:
cursor.execute("SELECT * FROM employees")

In [8]:
rows = cursor.fetchall()

In [9]:
rows

[(1, 'John Doe', 30, 'IT'),
 (2, 'Jane Doe', 25, 'HR'),
 (3, 'Jack Doe', 35, 'Finance')]

In [10]:
conn.commit()

In [11]:
conn.close()